env:
  CT_BUILD_ID: '${{ github.run_id }}'

name: Chart Testing
on: [pull_request]
jobs:
  build:
    name: lint, install
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config charts/ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config charts/ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          version: v0.12.0

      - name: Run chart-testing (install)
        run: ct install --debug --config charts/ct.yaml --excluded-charts keycloak-config-cli
